<!--///////////////////////NAVBAR///////////////////////-->

<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"><img id="imgLogoCueva3d" src="../assets/imagenes/lacueva3dLogoGde.jpeg"
            alt="ImgLogoCueva3d"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="https://instagram.com/la_cueva_3d2023?igshid=ZGUzMzM3NWJiOQ==" target="_blank">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/5491126704001" target="_blank">Whatsapp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/nikorizzla.rizzla?mibextid=ZbWKwL"
                target="_blank">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br>
  <br>
  <br>

  <!--///////////////////////CARDS CON IMAGENES///////////////////////-->

  <div class="container-fluid">
    <!--%%%%%%  CARD 1 A 6 %%%%%% ---PORTAJOYSTICK-->
    <br>
    <h2 style="text-align: center;">PORTA JOYSTICK</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card 1 ---PortaJoystick-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard1)" style="background-image: url({{img1}});">
          </div>
        </div>
        <!--Card 2 ---PortaJoystick-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard2)" style="background-image: url({{img2}});">
          </div>
        </div>
        <!--Card 3 ---PortaJoystick-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard3)" style="background-image: url({{img3}});">
          </div>
        </div>
        <!--Card 4 ---PortaJoystick -->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard4)" style="background-image: url({{img4}});">
          </div>
        </div>
        <!--Card 5 ---PortaJoystick-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard5)" style="background-image: url({{img5}});">
          </div>
        </div>
        <!--Card 6 ---PortaJoystick -->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard6)" style="background-image: url({{img6}});">
          </div>
        </div>
      </div>
    </div>

    <!--%%%%%%  CARD 7 A 12 %%%%%% --- FIGURAS DE COLECCIONISMO-->
    <br>
    <h2 style="text-align: center;">FIGURAS DE COLECCIONISMO</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card 7 ---Figuras Coleccionismo-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard7)" style="background-image: url({{img7}});">
          </div>
        </div>
        <!--Card 8 --- Figuras Coleccionismo-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard8)" style="background-image: url({{img8}});">
          </div>
        </div>
        <!--Card 9 ---Figuras Coleccionismo-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard9)" style="background-image: url({{img9}});">
          </div>
        </div>
        <!--Card 10 ---Figuras Coleccionismo-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard10)" style="background-image: url({{img10}});">
          </div>
        </div>
        <!--Card 11 ---Figuras Coleccionismo-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard11)" style="background-image: url({{img11}});">
          </div>
        </div>
        <!--Card 12 ---Figuras Coleccionismo-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard12)" style="background-image: url({{img12}});">
          </div>
        </div>
      </div>
    </div>


    <!--%%%%%%  CARD 13 A 18 %%%%%% --- PICADORES-->
    <br>
    <h2 style="text-align: center;">PICADORES</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card 13 ---Picadores-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard13)" style="background-image: url({{img13}});">
          </div>
        </div>
        <!--Card 14 ---Picadores-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard14)" style="background-image: url({{img14}});">
          </div>
        </div>
        <!--Card 15 ---Picadores-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard15)" style="background-image: url({{img15}});">
          </div>
        </div>
        <!--Card 16 ---Picadores-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard16)" style="background-image: url({{img16}});">
          </div>
        </div>
        <!--Card 17 ---Picadores-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard17)" style="background-image: url({{img17}});">
          </div>
        </div>
        <!--Card 18 ---Picadores-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard18)" style="background-image: url({{img18}});">
          </div>
        </div>

      </div>
    </div>

    <!--%%%%%%  CARD 19 A 24 %%%%%% --- BUSTOS-->
    <br>
    <h2 style="text-align: center;">BUSTOS</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card 19 ---Bustos-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard19)" style="background-image: url({{img19}});">
          </div>
        </div>
        <!--Card 20 ---Bustos-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard20)" style="background-image: url({{img20}});">
          </div>
        </div>
        <!--Card 21 ---Bustos-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard21)" style="background-image: url({{img21}});">
          </div>
        </div>
        <!--Card 22 ---Bustos-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard22)" style="background-image: url({{img22}});">
          </div>
        </div>
        <!--Card 23 ---Bustos-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard23)" style="background-image: url({{img23}});">
          </div>
        </div>
        <!--Card 24 ---Bustos-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard24)" style="background-image: url({{img24}});">
          </div>

        </div>
      </div>
    </div>

    <!--//////////////////////MODAL Y SLIDER///////////////////////-->

    <!--%%%%%%  TemplateModalCard 1 a 6 %%%%%% --- PORTAJOYSTICK-->

    <!--TemplateModalCard 1 ---Portajoystick-->
    <ng-template #templateModalCard1>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img1}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard1" id="{{listaImg.id}}">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>          
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 2 ---Portajoystick-->
    <ng-template #templateModalCard2>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img2}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard2">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>


    <!--TemplateModalCard 3 ---Portajoystick-->
    <ng-template #templateModalCard3>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img3}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard3">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 4 ---Portajoystick-->
    <ng-template #templateModalCard4>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img4}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard4">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 5 ---Portajoystick-->
    <ng-template #templateModalCard5>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img5}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard5">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 6 ---Portajoystick-->
    <ng-template #templateModalCard6>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img6}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard6">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--%%%%%%  TemplateModalCard 7 a 13 %%%%%% --- FIGURAS DE COLECCIONISMO-->

    <!--TemplateModalCard 7 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard7>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img7}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard7">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 8 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard8>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img8}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard8">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 9 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard9>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img9}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard9">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 10 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard10>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img10}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard10">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 11 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard11>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img11}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard11">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 12 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard12>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img12}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard12">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 13 ---Figuras Coleccionismo-->
    <ng-template #templateModalCard13>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img13}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard13">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--%%%%%%  TemplateModalCard 14 a 19 %%%%%% --- PICADORES-->

    <!--TemplateModalCard 14 ---Picadores-->
    <ng-template #templateModalCard14>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img14}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard14">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 15 ---Picadores-->
    <ng-template #templateModalCard15>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img15}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard15">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 16 ---Picadores-->
    <ng-template #templateModalCard16>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img16}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard16">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 17 ---Picadores-->
    <ng-template #templateModalCard17>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img16}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard17">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 18 ---Picadores-->
    <ng-template #templateModalCard18>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img16}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard18">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--%%%%%%  TemplateModalCard 19 a 24 %%%%%% --- BUSTOS-->

    <!--TemplateModalCard 19 ---Bustos-->
    <ng-template #templateModalCard19>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img19}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard19">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 20 ---Bustos-->
    <ng-template #templateModalCard20>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img20}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard20">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 21 ---Bustos-->
    <ng-template #templateModalCard21>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img21}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard21">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 12 ---Bustos-->
    <ng-template #templateModalCard22>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img22}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard22">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 23 ---Bustos-->
    <ng-template #templateModalCard23>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img23}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard23">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

    <!--TemplateModalCard 24 ---Bustos-->
    <ng-template #templateModalCard24>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active fixed-container d-flex align-items-center justify-content-center">
              <img src="{{img24}}" class="d-block img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item fixed-container d-flex align-items-center justify-content-center" *ngFor="let listaImg of arrayListModalCard24">
              <img src="{{listaImg.src}}" class="d-block img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>



    <!--#######################   NOTES   ####################### -->
    <!-- MAQUETADO HTML: Este componente html se estructura de la siguiente forma: 4 filas con 6 imagenes cada fila -->
    <!-- (24 imagenes en total). Cada imagen al hacer click, abre un modal/template que contiene un slider con más  -->
    <!-- imágenes del mismo modelo de figura. Éstos modal/template son 24 en total y cada uno pertenece a una card,  -->
    <!-- cada uno contiene tiene un slider con más imagenes del mismo modelo. La ruta de la  contiene una variable -->
    <!-- que figura en el apartado del component.ts llamado                                                          -->
    <!--                   "Variables para Cards con imagenes y ModalCards" (buscar en ts para ver)                  -->
    <!-- Las card las contienen las etiquetas "<div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">" mientras que  -->
    <!-- las imágenes las contienen los backgrounds de las etiquetas "<div class="card-image"> que son las mismas etiquetas-->
    <!-- que contiene la función "openModal(templateModalCard1 ó templateModalCard2, etc)"" función de la que se habla -->
    <!-- más adelante. Si se quisiesen cambiar las imagenes de las cards, es en las variables que figuran en el apartado-->
    <!-- "Variables para Cards con imagenes y ModalCards" (buscar en ts para ver) donde se deben cambiar-->

    <!-- MODAL/TEMPLATE: es una instancia de la clase BsModalRef,  el modal/template abre el template que le  -->
    <!-- correponda al hacer click en una  card mediante la función "openModal(templateModalCard1 ó templateModalCard2, etc)" -->
    <!-- el los modal/template los contiene la etiqueta angular "<ng-template>" "-->

    <!-- SLIDER: el slider pertenece a boostrap carrousel, la/a primera/s imagen/es de todos los slider las contiene la etiqueta  -->
    <!-- <div class="carousel-item active", esa etiqueta contiene la misma imagen de la card a la que se le haya hecho click,  -->
    <!-- la/s ruta/s de esa/s primera/s imagen/es la contiene una variable que figura en el apartado del component.ts -->
    <!--  lamado             "Variables para Cards con imagenes y ModalCards" (buscar este nombre en ts para ver)    -->
    <!-- Si se quisiesen cambiar las primera/s imagen/es de las cards, es en las variables que figuran en el apartado-->
    <!-- "Variables para Cards con imagenes y ModalCards" (buscar en ts para ver) donde se deben cambiar-->

    <!-- LISTAS: La siguientes imagenes de todos los sliders que son contenidos por las etiquetas <div class="carousel-item",-->
    <!-- se generan a partir de las array lists que figuran en el component.ts, estos array listas contienen las rutas a las imágenes.-->
    <!-- las array lists tienen dos referencias "id" y "src", el id solo se creo por si se necesita, src contiene las rutas -->
    <!-- a las imágenes. Hay una array list por cada card o modal/template. Las array lists figuran en el apartado del component.ts -->
    <!-- llamado       "LISTAS PARA SLIDER DEL MODAL" (buscar este nombre en ts para ver)                            -->
    <!-- Si se quisieses cambiar las imagenes de las listas, es en las array list que menciono donde deben modificarse sus rutas-->

    <!--  CÓMO SE GENERAN LAS ETIQUETAS "carousel-item" HACIENDO QUE CADA ETIQUETA GENERADA CONTENGA LAS IMAGENES DE LA LISTA: -->
    <!--  Mediante la anotation angular *ngFor se recorre la lista que corresponde a la card o al modal/template -->
    <!--  y mediante la extrapolacion, se toma del array list que corresponda el registro "src" que contiene la ruta -->
    <!--   -->
    <!--   -->
    <!--   -->
    <!--   -->
    <!--   -->