<!--///////////////////////NAVBAR///////////////////////-->

<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"><img class="imgLogoCueva3d" src="../assets/imagenes/lacueva3dLogo2.jpeg"
            alt="ImgLogoCueva3d"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="https://instagram.com/la_cueva_3d2023?igshid=ZGUzMzM3NWJiOQ==" target="_blank">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/5491126704001" target="_blank">Whatsapp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/nikorizzla.rizzla?mibextid=ZbWKwL"
                target="_blank">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br>
  <br>
  <br>

  <!--///////////////////////CARDS CON IMAGENES///////////////////////-->

  <div class="container-fluid">
    <!--PORTAJOYSTICK-->
    <br>
    <h2 style="text-align: center;">FIGURAS DE COLECCIONISMO</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card PortaJoystick 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/portajoystick/darthvader1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/portajoystick/ironmaiden1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/portajoystick/spidermanUno.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/portajoystick/ryu1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/portajoystick/terminator1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/portajoystick/rick1.jpeg');">
          </div>
        </div>
      </div>
    </div>

    <!--FIGURAS DE COLECCIONISMO-->
    <br>
    <h2 style="text-align: center;">FIGURAS DE COLECCIONISMO</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card Figuras Coleccionismo 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/quicksilver.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/luffy5.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/tortugaleonardo3.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/luffy8.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/quicksilver4.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/flanders4.jpeg');">
          </div>
        </div>
      </div>
    </div>


    <!--PICADORES-->
    <br>
    <h2 style="text-align: center;">PICADORES</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card Picadores 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/picadores/picador3.jpeg');">
          </div>
        </div>
        <!--Card Picadores 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/picadores/picador1.jpeg');">
          </div>
        </div>
        <!--Card Picadores 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/picadores/picador2.jpeg');">
          </div>
        </div>
        <!--Card Picadores 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/picadores/picador6.jpeg');"></div>
        </div>
        <!--Card Picadores 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/picadores/picador6.jpeg');">
          </div>
        </div>
        <!--Card Picadores 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/picadores/picador6.jpeg');"></div>
        </div>

      </div>
    </div>

    <!--BUSTOS-->
    <br>
    <h2 style="text-align: center;">BUSTOS</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card Bustos 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/bustos/batman4.jpeg');">
          </div>
        </div>
        <!--Card Bustos 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/bustos/batman3.jpeg');">
          </div>
        </div>
        <!--Card Bustos 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/bustos/frankenstein3.jpeg');">
          </div>
        </div>
        <!--Card Bustos 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/bustos/frankenstein4.jpeg');"></div>
        </div>
        <!--Card Bustos 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/bustos/tortugarafael4.jpeg');">
          </div>
        </div>
        <!--Card Bustos 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalSlider)"
            style="background-image: url('./assets/imagenes/varios/t80011.jpeg');"></div>
        </div>

      </div>
    </div>
  </div>

  <!--//////////////////////MODAL Y SLIDER///////////////////////-->
  <ng-template #templateModalSlider>

   <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para cerrar</button>
    
    
   </div>

    
      <div class="row" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/imagenes/portajoystick/darthvader1.jpeg" class="d-block w-100" alt="Imgdarthvader1">
            </div>
            <div class="carousel-item" *ngFor="let listaImg of arrayListBustBatman">
              <img src="{{listaImg.src}}" class="d-block w-100" alt="Img">
            </div>
          </div>
  
    
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
     
    
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>        
      </div>
      
      </ng-template>
      
  

