<!--///////////////////////NAVBAR///////////////////////-->

<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"><img class="imgLogoCueva3d" src="../assets/imagenes/lacueva3dLogo2.jpeg"
            alt="ImgLogoCueva3d"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="https://instagram.com/la_cueva_3d2023?igshid=ZGUzMzM3NWJiOQ==" target="_blank">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/5491126704001" target="_blank">Whatsapp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/nikorizzla.rizzla?mibextid=ZbWKwL"
                target="_blank">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br>
  <br>
  <br>

  <!--///////////////////////CARDS CON IMAGENES///////////////////////-->

  <div class="container-fluid">
    <!--PORTAJOYSTICK-->
    <br>
    <h2 style="text-align: center;">FIGURAS DE COLECCIONISMO</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card PortaJoystick 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard1)"
            style="background-image: url('./assets/imagenes/portajoystick/darthvader1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard2)"
            style="background-image: url('./assets/imagenes/portajoystick/ironmaiden1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard3)"
            style="background-image: url('./assets/imagenes/portajoystick/spidermanUno.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard4)"
            style="background-image: url('./assets/imagenes/portajoystick/ryu1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard5)"
            style="background-image: url('./assets/imagenes/portajoystick/terminator1.jpeg');">
          </div>
        </div>
        <!--Card PortaJoystick 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard6)"
            style="background-image: url('./assets/imagenes/portajoystick/rick1.jpeg');">
          </div>
        </div>
      </div>
    </div>

    <!--FIGURAS DE COLECCIONISMO-->
    <br>
    <h2 style="text-align: center;">FIGURAS DE COLECCIONISMO</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card Figuras Coleccionismo 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard7)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/quicksilver.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard8)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/luffy5.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard9)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/tortugaleonardo3.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard10)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/luffy8.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard11)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/quicksilver4.jpeg');">
          </div>
        </div>
        <!--Card Figuras Coleccionismo 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard12)"
            style="background-image: url('./assets/imagenes/figurascoleccionismo/flanders4.jpeg');">
          </div>
        </div>
      </div>
    </div>


    <!--PICADORES-->
    <br>
    <h2 style="text-align: center;">PICADORES</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card Picadores 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard13)"
            style="background-image: url('./assets/imagenes/picadores/picador3.jpeg');">
          </div>
        </div>
        <!--Card Picadores 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard14)"
            style="background-image: url('./assets/imagenes/picadores/picador1.jpeg');">
          </div>
        </div>
        <!--Card Picadores 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard15)"
            style="background-image: url('./assets/imagenes/picadores/picador2.jpeg');">
          </div>
        </div>
        <!--Card Picadores 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard16)"
            style="background-image: url('./assets/imagenes/picadores/picador6.jpeg');"></div>
        </div>
        <!--Card Picadores 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard17)"
            style="background-image: url('./assets/imagenes/picadores/picador6.jpeg');">
          </div>
        </div>
        <!--Card Picadores 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard18)"
            style="background-image: url('./assets/imagenes/picadores/picador6.jpeg');"></div>
        </div>

      </div>
    </div>

    <!--BUSTOS-->
    <br>
    <h2 style="text-align: center;">BUSTOS</h2>
    <br>
    <br>
    <div class="">
      <div class="row">

        <!--Card Bustos 1-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard19)"
            style="background-image: url('./assets/imagenes/bustos/batman4.jpeg');">
          </div>
        </div>
        <!--Card Bustos 2-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard20)"
            style="background-image: url('./assets/imagenes/bustos/batman3.jpeg');">
          </div>
        </div>
        <!--Card Bustos 3-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard21)"
            style="background-image: url('./assets/imagenes/bustos/frankenstein3.jpeg');">
          </div>
        </div>
        <!--Card Bustos 4-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard22)"
            style="background-image: url('./assets/imagenes/bustos/frankenstein4.jpeg');"></div>
        </div>
        <!--Card Bustos 5-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard23)"
            style="background-image: url('./assets/imagenes/bustos/tortugarafael4.jpeg');">
          </div>
        </div>
        <!--Card Bustos 6-->
        <div class="card col-lg-2 col-md-4 col-sm-12 mx-auto">
          <div class="card-image" (click)="openModal(templateModalCard24)"
            style="background-image: url('./assets/imagenes/varios/t80011.jpeg');"></div>
        </div>

      </div>
    </div>
  </div>

  <!--//////////////////////MODAL Y SLIDER///////////////////////-->

  <!--///TemplateDarth Vader///-->

  <ng-template #templateModalSlider></ng-template>


  <ng-template #templateModalCard1>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
          background-image: url('./assets/imagenes/portajoystick/darthvader1.jpeg');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
          background-image: url('{{listaImg.src}}');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;" *ngFor="let listaImg of arrayListPortaJoydarthv">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>

  <!--///Template Iron Maiden///-->
  <ng-template #templateModalCard2>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
            background-image: url('../assets/imagenes/portajoystick/ironmaiden1.jpeg');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
            background-image: url('{{listaImg.src}}');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center center;" *ngFor="let listaImg of arrayListPortaJoyironmai">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>


  <!--///Template Spider Man///-->
  <ng-template #templateModalCard3>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/portajoystick/spidermanUno.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPortaJoyspider">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>


  <!--///Template Ryu///-->
  <ng-template #templateModalCard4>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
          background-image: url('./assets/imagenes/portajoystick/ryu1.jpeg');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
          background-image: url('{{listaImg.src}}');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;" *ngFor="let listaImg of arrayListPortaJoyryu">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>

  <!--///Template Terminator///-->
  <ng-template #templateModalCard5>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
          background-image: url('./assets/imagenes/portajoystick/terminator1.jpeg');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
          background-image: url('{{listaImg.src}}');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;" *ngFor="let listaImg of arrayListPortaJoyTerminator">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>

   <!--///Template Rick///-->
   <ng-template #templateModalCard6>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
          background-image: url('./assets/imagenes/portajoystick/rick1.jpeg');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
          background-image: url('{{listaImg.src}}');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;" *ngFor="let listaImg of arrayListPortaJoyRick">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>

  <!--///Template Quick Silver 1///-->
  <ng-template #templateModalCard7>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
          background-image: url('./assets/imagenes/figurascoleccionismo/quicksilver.jpeg');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
          background-image: url('{{listaImg.src}}');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;" *ngFor="let listaImg of arrayListFigQuickSi">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>

    <!--///Template Luffy 1///-->
    <ng-template #templateModalCard8>
      <div class="dblclickcerrar mx-auto">
        <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
          cerrar</button>
        <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
          cerrar</button>
      </div>
      <div class="container" (dblclick)="bsModalRef.hide()">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="
            background-image: url('../assets/imagenes/figurascoleccionismo/luffy5.jpeg');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center center;">
              <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="
            background-image: url('{{listaImg.src}}');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center center;" *ngFor="let listaImg of arrayListFigCoLuffy">
              <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually"></span>
          </button>
        </div>
      </div>
    </ng-template>

   <!--///Template Tortuga Ninja Leonardo///-->
   <ng-template #templateModalCard9>
    <div class="dblclickcerrar mx-auto">
      <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
        cerrar</button>
      <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
        cerrar</button>
    </div>
    <div class="container" (dblclick)="bsModalRef.hide()">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="
          background-image: url('./assets/imagenes/figurascoleccionismo/tortugaleonardo3.jpeg');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="
          background-image: url('{{listaImg.src}}');
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;" *ngFor="let listaImg of arrayListtortugaleo">
            <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually"></span>
        </button>
      </div>
    </div>
  </ng-template>

 <!--///Template Luffy 2///-->
 <ng-template #templateModalCard10>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/figurascoleccionismo/luffy8.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListFigCoLuffy">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

 <!--///Template Quick Silver 2///-->
 <ng-template #templateModalCard11>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/figurascoleccionismo/quicksilver4.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListFigQuickSi">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

 <!--///Template Flanders///-->
 <ng-template #templateModalCard12>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/figurascoleccionismo/flanders4.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListFigCoFlanders">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Picador 1///-->
<ng-template #templateModalCard13>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/picadores/picador3.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPicadores">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Picador 2///-->
<ng-template #templateModalCard14>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/picadores/picador1.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPicadores">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Picador 3///-->
<ng-template #templateModalCard15>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/picadores/picador2.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPicadores">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Picador 4///-->
<ng-template #templateModalCard16>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/picadores/picador6.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPicadores">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Picador 5///-->
<ng-template #templateModalCard17>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/picadores/picador6.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPicadores">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Picador 6///-->
<ng-template #templateModalCard18>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/picadores/picador6.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListPicadores">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Bustos 1///-->
<ng-template #templateModalCard19>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/bustos/batman4.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListBustBatman">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Bustos 2///-->
<ng-template #templateModalCard20>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/bustos/batman3.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListBustBatman">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Bustos 3///-->
<ng-template #templateModalCard21>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/bustos/frankenstein3.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListBustFranke">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Bustos 4///-->
<ng-template #templateModalCard22>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/bustos/frankenstein4.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListBustFranke">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Bustos 5///-->
<ng-template #templateModalCard23>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/bustos/tortugarafael4.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListBustTortu">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>

<!--///Template Bustos 6///-->
<ng-template #templateModalCard24>
  <div class="dblclickcerrar mx-auto">
    <button id="btnPc" type="button" class="btn btn-outline-secondary btn-sm">Doble click en pantalla para
      cerrar</button>
    <button id="btnCel" type="button" class="btn btn-outline-secondary btn-sm">Doble tap en pantalla para
      cerrar</button>
  </div>
  <div class="container" (dblclick)="bsModalRef.hide()">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="
        background-image: url('./assets/imagenes/varios/t80011.jpeg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="
        background-image: url('{{listaImg.src}}');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;" *ngFor="let listaImg of arrayListVarios">
          <img src="..\assets\imagenes\fondoBlanco.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually"></span>
      </button>
    </div>
  </div>
</ng-template>










    






    








    






    