<div class="container" id="containerhome">
  <div class="container">
    <div class="containersvg">
      <svg viewbox="0 0 120 120">
        <defs>
          <clipPath id="fade-cut-out">
            <path d="M 60 20 L 100 60 L 60 100 L 20 60 Z" />
          </clipPath>
        </defs>
        <path
          d="M 57 100 H 65 V 96 H 51 V 92 H 73 V 88 H 43 V 84 H 82 V 80 H 34 V 76 H 89 V 72 H 27 V 68 H 97 V 64 H 20 V 60 H 102 V 56 H 17 V 52 H 103 V 48 H 17 V 44 H 103 V 40 H 18 V 36 H 101 V 32 H 21 V 28 H 95 V 24 H 30 V 20 H 87"
          fill="none" stroke="grey" stroke-width="4" stroke-dasharray="1459.44" stroke-dashoffset="1459.44"
          clip-path="url(#fade-cut-out)">
          <animate attributeName="stroke-dashoffset" dur="10s" values="1459.44; 0" repeatCount="indefinite" />
        </path>

        <path d="M -5 -12 H 5 L 1 -2 H -1 Z" fill="silver">
          <animateMotion dur="10s" repeatCount="indefinite"
            path="M 57 100 H 65 V 96 H 51 V 92 H 73 V 88 H 43 V 84 H 82 V 80 H 34 V 76 H 89 V 72 H 27 V 68 H 97 V 64 H 20 V 60 H 102 V 56 H 17 V 52 H 103 V 48 H 17 V 44 H 103 V 40 H 18 V 36 H 101 V 32 H 21 V 28 H 95 V 24 H 30 V 20 H 87  L 57 100" />
        </path>
        <path d="M -13 -12 H 13 V -30 H -13 Z" fill="#333">
          <animateMotion dur="10s" repeatCount="indefinite"
            path="M 57 100 H 65 V 96 H 51 V 92 H 73 V 88 H 43 V 84 H 82 V 80 H 34 V 76 H 89 V 72 H 27 V 68 H 97 V 64 H 20 V 60 H 102 V 56 H 17 V 52 H 103 V 48 H 17 V 44 H 103 V 40 H 18 V 36 H 101 V 32 H 21 V 28 H 95 V 24 H 30 V 20 H 87  L 57 100" />
        </path>
        <path d="M -120 -29 H 120 V -37 H -120 Z" fill="#555">
          <animateMotion dur="10s" repeatCount="indefinite"
            path="M 57 100 H 65 V 96 H 51 V 92 H 73 V 88 H 43 V 84 H 82 V 80 H 34 V 76 H 89 V 72 H 27 V 68 H 97 V 64 H 20 V 60 H 102 V 56 H 17 V 52 H 103 V 48 H 17 V 44 H 103 V 40 H 18 V 36 H 101 V 32 H 21 V 28 H 95 V 24 H 30 V 20 H 87  L 57 100" />
        </path>
        <text x="24" y="110" fill="#555" font-size="12" font-family="Arial">La Cueva3D</text>
      </svg>
      
    </div>
  </div>
  <div class="container">
    <div class="welcome-container text-center">
      <h1 class="welcome-title">¡Bienvenido a la web de La Cueva 3D!</h1>
      <h2 class="welcome-subtitle">Arte e impresiones 3d</h2>
      <div class="containerbutton">
        <a class="fade-out-once" routerLink="/home">INGRESAR</a>
      </div>
    </div>
  </div>
</div>